[submodule "client-gateway-ms"]
	path = client-gateway-ms
	url = https://github.com/Market-Place-Microservices/client-gateway-ms.git
[submodule "product-ms"]
	path = product-ms
	url = https://github.com/Market-Place-Microservices/product-ms.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Market-Place-Microservices/orders-ms.git
[submodule "payment-ms"]
	path = payment-ms
	url = https://github.com/Market-Place-Microservices/payment-ms.git
